@model List<QuizApp.Models.Question>

<h2>Summary</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.QuestionText</td>
                <td>
                    @foreach (var ans in question.UserAnswerIndexes)
                    {
                        <p>@question.Answers[ans]</p>
                    }
                </td>
                <td>
                    @if (question.CorrectAnswerIndexes.OrderBy(a => a).SequenceEqual(question.UserAnswerIndexes.OrderBy(a => a)))
                    {
                        <span style="color:green;">Correct</span>
                    }
                    else
                    {
                        <span style="color:red;">Incorrect</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
